# Environment files
.env

# Checkpoints and large model files
checkpoint-3270/
*.pt
*.safetensors

# Python cache
__pycache__/
*.pyc

# Data & notebooks (optional: only if you don’t want to track them)
medication_cleaned.csv
checkpoint.json
medication_ner_finetune.ipynb